<?php
$products = $this->getCollection();
$bestsellers = $this->getBestsellers();
$newestProducts = $this->getNewestProducts();
$helper = Mage::helper('catalog/product');
$productColArray = array($bestsellers, $newestProducts);
$meta = array(
    array(
        'header' => $this->__('Bestsellers'),
        'id' => 'bestsellers',
    ),
    array(
        'header' => $this->__('New products'),
        'id' => 'newproducts',
    ),
);
?>
<?php $i=0; if ( $bestsellers->getSize() > 0 && $newestProducts->getSize() > 0 ) : ?>
<div class="categoryproducts-wrapper">
<?php foreach($productColArray as $products) : ?>
    <?php if ($products->getSize() > 0) : ?>
    <div class="categoryproducts-block">
        <div class="block-content">
            <div class="block-title">
                <strong>
                    <span><?php echo $meta[$i]['header'] ?></span>
                </strong>
              </div>
        </div>
        <ul class="categoryproducts-slider-<?php echo $meta[$i]['id'] ?>" data-items="3">
          <?php foreach ($products as $product) : ?>
              <li class="bs-item">
                  <a href="<?php echo $helper->getProductUrl($product) ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75) ?>" alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="75" height="75" /></a><br />
                  <a href="<?php echo $helper->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a><br />
              </li>
          <?php endforeach ?>
        </ul>
    </div>
    <script>
        jQuery(document).ready(function(){
            jQuery('.categoryproducts-slider-<?php echo $meta[$i]['id'] ?>').owlCarousel({
                navigation: false,
                items: jQuery(this).data('items'),
                autoPlay: false,
                autoplayHoverPause: true,
                navigationText : [
                    "<div class=\"nav nav-prev\"><</div>",
                    "<div class=\"nav nav-next\">></div>",
                ],
            });
        });
    </script>
    <?php endif; ?>
<?php $i++; endforeach; ?>
    <div class="clearfix"></div>
</div>
<?php endif; ?>
